@page
@model miniReddit.Pages.IndexModel
@{

}
<head>
    <link rel="stylesheet" href="~/css/Index.css" asp-append-version="true" />
</head>
<body>
    <div class="row">
        <div class="col-auto card m-1 p-1" id="indexMenu">

            <div class="dropdown m-1">
                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    All Categories
                </a>
                <ul class="dropdown-menu">
                    @foreach(var category in Model.Categories)
                    {
                        <li><a class="dropdown-item" href="#">@category.Name</a></li>
                    }
                </ul>
            </div>
            <button id="newPost" class="btn btn-primary m-1">New post</button>
        </div>
        <div class="container" id="postContainer">



            @foreach (var post in Model.Posts)
            {
                var userinfo = await Model.GetUserinfo(post.UserId);
                var comments = await Model.GetComments(post.Id);
                var category = await Model.GetCategory(post.CategoryId);
                var likes = await Model.GetLikes(post.Id);
               
                <div class="row">
                    <div class="col-2 m-1 card">
                        <img class="img-thumbnail m-1" src="@userinfo.ProfileImg" />
                        <h6 class="card-title m-1">@userinfo.Username</h6>
                        <button class="btn btn-secondary m-1 p-1 text-wrap">View user/Ej funktionel</button>
                        <button class="btn btn-secondary m-1 p-1 text-break">Send message/Ej funktionel</button>
                    </div>

                    <div class="col-9 m-1 card">
                        <div class="card-header m-1">
                            <label class="card-title">@category.Name / @post.Title . Date: @post.CreatedAt</label>
                        </div>
                        <div class="card-body">
                            <p class="card-text">@post.Text</p>
                        </div>
                        <div class="card-footer">
                            <a asp-page="/Post" asp-route-id="@post.Id" class="btn btn-secondary m-1">Comment <span class="badge">@comments.Count()</span></a>
                            <button onclick="likePost('@post.Id', this)" class="btn btn-secondary m-1">Like <span class="badge">@likes.Count()</span></button>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

<div id="postModal" class="newPost">
        <div class="newPostContainer">
            <form method="post" enctype="multipart/form-data">
                <div>
                    <label asp-for="Category"></label>
                    <input asp-for="Category" />
                    <span asp-validation-for="Category"></span>
                </div>
                <div>
                    <label asp-for="Title"></label>
                    <input asp-for="Title" />
                    <span asp-validation-for="Title"></span>
                </div>
                <div>
                    <label asp-for="TextContent"></label>
                    <input width="100px" height="50px" asp-for="TextContent" />
                    <span asp-validation-for="TextContent"></span>
                </div>
                <div>
                        <h5 class="card-title">Only .png and .jpg allowed</h5>
                        <input type="file" asp-for="Img" />
                </div>
                <div>
                    <input id="submit" type="submit" value="Post" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
       
    <script src="/js/IndexTest.js"></script>

</body>
