@page
@model miniReddit.Pages.MessagesModel
@{
}
<head>
    <link rel="stylesheet" href="~/css/Index.css" asp-append-version="true" />
</head>
<body>
    <div class="row">
        <div class="col-auto card m-1 p-1" id="indexMenu">

            <div class="dropdown m-1">
                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Messeges
                </a>
                <ul class="dropdown-menu">
                    @foreach(var sender in Model.Senders)
                    {
                        <li>
                            <a class="dropdown-item" asp-page="/Index" asp-route-SelectedCategoryId="@sender.UserId">@sender.Username</a>
                            </li>
                    }
                </ul>
            </div>
            <button id="newMessage" class="btn btn-primary m-1">New Message</button>
        </div>
        <div class="container" id="postContainer">

            @foreach (var message in Model.MessageModels)
            {
                <div class="row">
                    <div class="col-2 m-1 card">
                        <img class="img-thumbnail m-1" src="@message.UserInfo.ProfileImg" />
                        <h6 class="card-title m-1">@message.UserInfo.Username</h6>
                        <button class="btn btn-secondary m-1 p-1 text-wrap">View user/Ej funktionel</button>
                        <button class="btn btn-secondary m-1 p-1 text-break">Send message/Ej funktionel</button>
                    </div>

                    <div class="col-9 m-1 card">
                        <div class="card-body">
                            <p class="card-text">@message.Message.Text</p>
                        </div>
                        <div class="card-footer">
                            <button onclick="reply('@message.UserInfo.UserId', this)" class="btn btn-secondary m-1">Reply</button>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

    <div id="MessageModal" class="newPost">
        <div id="commentContainer" class="newPostContainer">
            <form method="post" enctype="multipart/form-data" asp-page-handler="CreateMessage">
                <label asp-for="SelectedUserId">Select User:</label>
                <select asp-for="SelectedUserId" class="form-control">
                    <option value="">-- Choose User --</option>
                    @foreach(var user in Model.Users)
                    {
                        <option value="@user.UserId">@user.Username</option>
                    }
                </select>
                <span asp-validation-for="SelectedUserId"></span>
                
                <label asp-for="MessageText"></label>
                <textarea asp-for="MessageText"></textarea>
                <span asp-validation-for="MessageText"></span>

                <input type="submit" value="Send" class="btn btn-primary"/>
            </form>
        </div>
    </div>

    <div id="replyModal" class="newPost">
        <div id="commentContainer" class="newPostContainer">
            <form method="post" enctype="multipart/form-data" asp-page-handler="Reply">
                    <label asp-for="MessageText"></label>
                    <textarea asp-for="MessageText"></textarea> 
                    <span asp-validation-for="MessageText"></span>
                    <input id="ReplyId" type="hidden" asp-for=ReplyId value=""/>
                <input type="submit" value="Reply" class="btn btn-primary"/>
            </form>
        </div>
    </div>


    <script src="/js/Messages.js"></script>

    </body>
