@page "{id}"
@model miniReddit.Pages.PostModel
@{
}
<head>
    <link rel="stylesheet" href="~/css/Index.css" asp-append-version="true" />
</head>
<body>
              
                <div class="row">
                    <div class="col-2 m-1 card">
                        <img class="img-thumbnail m-1" src="@Model.PostUser.ProfileImg" />
                        <h6 class="card-title m-1">@Model.PostUser.Username</h6>
                        <button class="btn btn-secondary m-1 p-1 text-wrap">View user/Ej funktionel</button>
                        <button class="btn btn-secondary m-1 p-1 text-break">Send message/Ej funktionel</button>
                    </div>

                    <div class="col-9 m-1 card">
                        <div class="card-header m-1">
                            <label class="card-title">@Model.Category.Name / @Model.Post.Title . Date: @Model.Post.CreatedAt</label>
                        </div>
                        <div class="card-body">
                            <p class="card-text">@Model.Post.Text</p>
                        </div>
                        <div class="card-footer">
                            <button id="commentBtn" class="btn btn-primary">Comment</button>
                            <button onclick="likePost('@Model.Post.Id', this)" class="btn btn-secondary m-1">Like <span class="badge">@Model.Likes.Count()</span></button>
                        </div>
                    </div>
                </div>


    @if(Model.Post != null)
    {
        
    foreach (var comment in Model.Comments)
    {
        var userinfo = await Model.GetUserinfo(comment.UserId);
            var commentLikes = await Model.GetLikes(comment.Id);
            var comments = await Model.GetComments(comment.Id);

        <div class="row">
                    <div class="col-2 m-1 card">
                        <img class="img-thumbnail m-1" src="@userinfo.ProfileImg" />
                        <h6 class="card-title m-1">@userinfo.Username</h6>
                        <button class="btn btn-secondary m-1 p-1 text-wrap">View user/Ej funktionel</button>
                        <button class="btn btn-secondary m-1 p-1 text-break">Send message/Ej funktionel</button>
                    </div>

                    <div class="col-9 m-1 card">
                        <div class="card-body">
                            <p class="card-text">@comment.Text</p>
                        </div>
                        <div class="card-footer">
                            <button onclick="commentPost('@comment.Id', this)" class="btn btn-secondary m-1">Comment <span class="badge">@comments.Count()</span></button>
                            <button onclick="likePost('@comment.Id', this)" class="btn btn-secondary m-1">Like <span class="badge">@commentLikes.Count()</span></button>
                        </div>
                    </div>
                </div>
    }
    }


    <div id="postModal" class="newPost">
        <div class="newPostContainer">
            <form method="post" enctype="multipart/form-data">
                <div>
                    <label asp-for="TextContent"></label>
                    <input width="100px" height="50px" asp-for="TextContent" />
                    <span asp-validation-for="TextContent"></span>
                    <input type="hidden" name="postid" value="@Model.Post.Id" />
                </div>
                <div>
                    <input id="submit" type="submit" value="Comment" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
    <div id="commentModal" class="newPost">
        <div id="commentContainer" class="newPostContainer">
            <form method="post" enctype="multipart/form-data" asp-page-handler="CreateComment">
                    <label asp-for="CommentText"></label>
                    <input width="100px" height="50px" asp-for="CommentText" />
                    <span asp-validation-for="CommentText"></span>
                    <input id="commentid" type="hidden" name="CommentId" value="" />
                <input type="submit" value="Comment" class="btn btn-primary"/>
            </form>
        </div>
    </div>






    <script src="/js/Post.js"></script>


</body>
