@page "{id}"
@model miniReddit.Pages.PostModel
@{
}
<head>
    <link rel="stylesheet" href="~/css/Index.css" asp-append-version="true" />
</head>
<body>
              
                <div class="row">
                    <div class="col-2 m-1 card">
                        <img class="img-thumbnail m-1" src="@Model.PostUser.ProfileImg" />
                        <h6 class="card-title m-1">@Model.PostUser.Username</h6>
                        <button class="btn btn-secondary m-1 p-1 text-wrap">View user/Ej funktionel</button>
                        <button onclick="reply('@Model.PostUser.UserId', this)" class="btn btn-secondary m-1">Message</button>
                    </div>

                    <div class="col-9 m-1 card">
                        <div class="card-header m-1">
                            <label class="card-title">@Model.Category.Name / @Model.Post.Title . Date: @Model.Post.CreatedAt</label>
                        </div>
                        <div class="card-body">
                            @if(Model.Post.ImgPath != null)
                            {
                                <img src="@Model.Post.ImgPath" class="card-img" />
                            }
                            <p class="card-text">@Model.Post.Text</p>
                        </div>
                        <div class="card-footer">
                            <button id="commentBtn" class="btn btn-primary">Comment</button>
                            <button onclick="likePost('@Model.Post.Id', this)" class="btn btn-secondary m-1">Like <span class="badge">@Model.Likes.Count()</span></button>
                            <button onclick="report('@Model.Post.Id', this)" class="btn btn-danger m-1">Report</button>
                        </div>
                    </div>
                </div>


        
    @foreach (var comment in Model.ViewComments)
    {
        <div class="row">
            <div class="col-1">

            </div>

                    <div class="col-1 m-1 card">
                        <img class="img-thumbnail m-1" src="@comment.UserInfo.ProfileImg" />
                        <h6 class="card-title m-1">@comment.UserInfo.Username</h6>
                        <button class="btn btn-secondary m-1 p-1 text-wrap">View user/Ej funktionel</button>
                        <button onclick="reply('@comment.UserInfo.UserId', this)" class="btn btn-secondary m-1">Message</button>
                    </div>

                    <div class="col-9 m-1 card">
                        <div class="card-body">
                            <p class="card-text">@comment.Comment.Text</p>
                        </div>
                        <div class="card-footer">
                            <button onclick="commentPost('@comment.Comment.Id', this)" class="btn btn-secondary m-1">Comment <span class="badge">@comment.Replies.Count()</span></button>
                            <button onclick="reportComment('@comment.Comment.Id', this)" class="btn btn-danger m-1">Report</button>
                        </div>
                    </div>
        </div>
        @foreach (var reply in comment.Replies)
        {
            <div class="row">
                    <div class="col-2">

                </div>

                    <div class="col-1 m-1 card">
                        <img class="img-thumbnail m-1" src="@reply.UserInfo.ProfileImg" />
                        <h6 class="card-title m-1">@reply.UserInfo.Username</h6>
                        <button class="btn btn-secondary m-1 p-1 text-wrap">View user/Ej funktionel</button>
                        <button onclick="reply('@reply.UserInfo.UserId', this)" class="btn btn-secondary m-1">Message</button>
                    </div>

                    <div class="col-8 m-1 card">
                        <div class="card-body">
                            <p class="card-text">@reply.Comment.Text</p>
                        </div>
                        <div class="card-footer">
                            <button onclick="reportComment('@reply.Comment.Id', this)" class="btn btn-danger m-1">Report</button>
                        </div>
                    </div>

            </div>
        }
    }


    <div id="postModal" class="newPost">
        <div class="newPostContainer">
            <form method="post" enctype="multipart/form-data">
                <div>
                    <label asp-for="TextContent"></label>
                    <input width="100px" height="50px" asp-for="TextContent" />
                    <span asp-validation-for="TextContent"></span>
                    <input type="hidden" name="postid" value="@Model.Post.Id" />
                </div>
                <div>
                    <input id="submit" type="submit" value="Comment" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
    <div id="commentModal" class="newPost">
        <div id="commentContainer" class="newPostContainer">
            <form method="post" enctype="multipart/form-data" asp-page-handler="CreateComment">
                    <label asp-for="CommentText"></label>
                    <input width="100px" height="50px" asp-for="CommentText" />
                    <span asp-validation-for="CommentText"></span>
                    <input id="commentid" type="hidden" name="CommentId" value="" />
                <input type="submit" value="Comment" class="btn btn-primary"/>
            </form>
        </div>
    </div>

<div id="replyModal" class="newPost">
        <div id="commentContainer" class="newPostContainer">
            <form method="post" enctype="multipart/form-data" asp-page-handler="Reply">
                    <label asp-for="MessageText"></label>
                    <textarea asp-for="MessageText"></textarea> 
                    <span asp-validation-for="MessageText"></span>
                    <input id="ReplyId" type="hidden" asp-for=ReplyId value=""/>
                <input type="submit" value="Reply" class="btn btn-primary"/>
            </form>
        </div>
    </div>






    <script src="/js/Post.js"></script>


</body>
