@page
@model miniReddit.Pages.ProfilePageModel
@{
    ViewData["Title"] = "Profile page";
    var ProfileImg = Model.User.ProfileImg;
}
<head>
    <link rel="stylesheet" href="~/css/ProfilePage.css" asp-append-version="true" />
</head>
<body>
    <div>
        <img class="ProfilePageImg" src="@Url.Content(ProfileImg)" />
        <input type="button" value="Change" />
    </div>
    <div>
        <ul>
            <li>
                <label asp-for="User.Username"></label>: @Model.User.Username
            </li>
            <li>
                <label asp-for="User.Email"></label>: @Model.User.Email
                <input type="button" value="Change" />
            </li>
            <li>
                <label asp-for="PostAmount"></label>: @Model.PostAmount
                <input type="button" value="See history" />
            </li>
            <li>
                <label asp-for="CommentAmount"></label>: @Model.CommentAmount
                <input type="button" value="See history" />
            </li>
        </ul>
    </div>
    <div class="ChangePicture">
        <div class="ChangeContainer">
            <form method="post" enctype="multipart/form-data">
                <img class="ProfilePageImg" src="@Url.Content(ProfileImg)" />
                <p>Upload picture. Only .png or .jpg</p>
                <input type="file" asp-for="ProfilePic" />
                <span asp-validation-for="ProfilePic"></span>
                <input type="submit" value="Upload" />
            </form>
        </div>
    </div>
</body>
